* {
    padding: 0;
    margin: 0;
    color: #ffff;
    font-family: 'Roboto', sans-serif;
}
body{
    height: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #262626;
    background-image: url(https://lh3.googleusercontent.com/5ogIbEwYzBmIkio_SXv-pxUmO5Kke0a0mtL9PVwBMdL8E4XuZhuUngNHzGb6Fx4YdFD2E6h4ixOsnxdhNCW9OVUD68reOOcisHD3qUx6jog66hP6ck4mxC5ZCiXB9j-u9aGCNej1c0iIETL53RAdFEVgI98M4xvBuEGLgUUz7gntWnLuWt5C2AXqhLGtvyUIzKSRYhw3HcggCB7dEMaMRYxsOiuQhbmdTTpwrMIUp6Mm11pRVhq1fP-Sf_TDXmmEL6nZEvXKVLuqRkdV1HbNdeLIR5W9DZdYw6izjgJkb_JVZ0sNFpItn7Khx94-Waci2Hy62uedDA8HVnRrxBGmC_UhJwQ1HwVgHKL4NIduw51_NoiRx85LdqqWNK0Ev-lGs7bt_oy_R03aYzf3-HJEQGo14fKUFagNFmUU59WS-Q_ShwT4THj-8BGSKeIIHa6vMBeCsNvGO5MvwrRBdfInZds1PlFOzTO5EhlJzppolFDx7GhEG36_gn6Y32XXOVGyLu2AaMZF6blo7_39SaCue6cA0yN1prriIU8yvP-WT6IzNHjTbEZTx69XIo3ArQjT-Jn4tc0JoD3ArgFZxre-hhbeNIz77dyQNL10G0het4aLMMkz8M1ylMEG8NrsDhny1YO1KKA7wccYfHVB5ksALbgFT5ccUx4zsC7JL3vvkxwMV0tnRxgpm7qKSgiQ-JmTCwJQAGW6Fr51_lvRnF7m94T50gVjYrATtNrHf7gAiMRvKB5Adaqg1w1EJUAsLTMr3-lQJ9Mzo1S2_FJ-HEdSt7V0rw7nb9YsociPf37MvK99d7dZOH6e7JPi7yQA9Qt6DfzXI8F9h0I0SE4T59xv-jzsDI6iSLpZgHrqAV1LYVpH3H9NTD_CXAhg0pe4dD5sYSxv8rXtvjD8s7f4e6_wpbLjRRrZP2PicPkHxLegoJ_9lmQR-APvU0hPiwf262hERM3s-iyu5SKVPMQklRJnww=w1916-h1074-no?authuser=0);
}
form {
    background: #312E2E;
    padding: 20px;
    border: 1px solid #6E19B1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: fit-content;
}
div {
    margin: 8px;
    display: flex;
    align-items: center;
    max-width: 100%;
}
input{
    border: 0;
    border-bottom: 1px solid #ffff;
    background: transparent;
    outline: none;
}
#submit {
    display: flex;
    justify-content: center;
}
button {
    background: transparent;
    padding: 4px 10px;
    border: 1px solid #6E19B1;
    border-radius: 4px;
}
label {
    margin-right: 5px;
}
.checkbox, .radio{
    margin-left: 5px;
}
span {
    margin-right: 5px;
}
.text{
    width: 100%;
}
#cell {
    width: 30%;
}
input[type="checkbox" i]::after{
    background: transparent; 
    border: 1px solid #6E19B1;
}
